@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mobile first */

body {
  margin: 0;
  padding: 32px;
  min-height: 100vh;
  position: relative;
}

.desktop-devices {
  display: none;
}
