@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mobile first */

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-image: url("/assets/images/headerBG.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  scroll-behaviour: smooth;
}

.desktop-devices {
  display: none;
}

.playfair-display {
  font-family: "Playfair Display", serif;
}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
}
